<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QRCodeWebTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>728743B21ECC3E2E0029520C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>728743C61ECC3E2F0029520C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>728743D11ECC3E2F0029520C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
